.about__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 40px 100px 40px;
}

.about__content {   
    width: 430px;
}

.about__image {
    padding: 0 120px 0 175px;
}

.about__content {
    padding: 14px 175px 14px 120px;
}

.about__title {
    width: 370px;
}

.about__text {
    padding-bottom: 25px;
    
}