$color-primary: #F1CDB3;
$color-light: #ffffff;
$color-additional: #545454;
$color-backraund: #F6F6F6;
$color-line: #F1CDB3;
$color-text:#4C4C4C;
$color-heading: #545454;
$color-subheading: #CDCDCD;
$color-logo: #F1CDB3;
$color-link: #CDCDCD;
$color-donation: #B2B2B2;
$color-border:#F1CDB3;
$color-card: #FAFAFA;
$color-border: #F1CDB3;
$color-inside: #292929;

$content-width: 1280px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
