$color-brand: #bdae82;
$color-background: #000000;
$color-link: #ffffff;
$color-border:#bdae82;
$color-button:#bdae82;
$color-text: #ffffff;
$color-light: #ffffff;
$color-hamburger: #ffffff;


$content-width: 1440px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;