
// body {
//   font-family: Roboto;
//   font-size: 80px; 
// }
h1 {
  font-family: 'Forum', sans-serif;
  // font-style: normal;
  // font-weight: normal;
  // font-size: 80px;
  // line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;

  // @include font(80px, 90px, normal, normal);
}

h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;

}

h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  line-height: 26px;
}

p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 21px;
}

