$color-primary:#030303;
$color-additional:#9d8665;
$color-backgraund: #710707;
$color-text: #030303;
$color-heading:#9d8665;
$color-line: #710707;
$color-light: #ffffff;

$content-width: 1440px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;