.layout-4-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
    >* {
        flex-basis: 21%;
    }
    // @include columns($weight: 21%)

}

.layout__column{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0 50px 0;
    
    
   
}
.layout-3-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 6.0rem;
    >* {
        flex-basis: 45rem;
    }
}