.header {
    
    padding: 25px 0 20px 0;

}

.header__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    background: url('./assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
}

.header__image {
    position: absolute;
    z-index: -1;
} 

.language {
    margin: 20px 18px 20px;
    float: right;
    list-style: none;
    
}

.language_switching {
    cursor: pointer;
    display: flex;
    padding: 9px;
    color: $color-light;
    &:hover {
        color: $color-brand;
    }
    @extend %font-add;
    @include font($size: 2.0rem, $height: 5.0rem, $weight: 700);
}