.promo {
    background: $color-primary;
  
    

}

.promo__container {
    display: flex;
    justify-content: space-between;
    align-items: center;   

}

.promo__title {
    font-family: 'Forum', sans-serif;
    font-style: normal;
    color: $color-light;
    margin-bottom: 25px;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;   
    letter-spacing: 5px;
    text-transform: uppercase;
}

.promo__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;
    color: $color-light;
    margin-bottom: 75px;
}

