.hero-image {     
    position: absolute;
    z-index: -1;
  }
  

  ::placeholder {
    font-family: inherit;
    color: #bdae82;
    font-size: 20px;
  }

.textarea {
    width: 350px;
    height: 100px;
}

#email, #phone {
    width: 450px;
    height: 50px;
    margin: 0 20px 20px 0;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid $color-border;
}

#message {
    width: 450px;
    height: 100px;
    margin: 0 20px 30px 0;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid $color-border;
}

.contact__text {
    margin: 60px 20px 195px 970px;
}