.footer {
    padding: 59px 0 59px;
}

.footer__container {
    display: flex;
   
}

.footer-navigation {
    flex-grow: 1;
}

.footer-navigation__links {
    @extend %font-add;
    display: flex;
    a {
        color:$color-text;
        @extend %transition;
        @include font($size: 2.0rem, $height: 5.0rem, $weight: 400);
        text-decoration: none;
        &:hover {
            color: $color-brand;
        }
    }

}

.contact__image {
    position: absolute;
    z-index: -1;
}

.icon__links {
    padding-left: 20px;
}