.promo__title {
    margin: 0 0 10px;
}

.promo__text {
    max-width: 470px;
    @extend %font-add;
    @include font($size: 1.8rem, $height: 3.6rem, $weight: 40.0rem);
}

.promo__container {
    background-image: url('./assets/img/bg.jpg');
    background-position: center -90px;
    background-repeat: no-repeat;
    
}   

.promo__content {
    align-items: stretch;
    width: 500px;
    height: 300px;
    margin: 160px 860px 330px 80px;
    
}