.strategies__button>.button {
    margin-left: 5px;

 
}

.strategies__image {
    display: inline-block;
    justify-content: space-around;
    text-align: center;
    
    
   
    
    margin: 10px;
    
    
    


}

// .strategies__image>.strategies {
//     padding: 15px;
// }